* {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    background: rgb(226, 222, 222);
    border-radius: 10px;
}

#nav {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

a:hover {
    color: rgb(105, 101, 101);
}

ul {
    display: flex;
    padding: 6px;
    margin: 6px;
}